<mat-toolbar color="primary">
  <nav>
    <a [routerLink]="['/']" routerLinkActive="active">
      <span class="pr-7">Erasmus SDS application</span>
    </a>
    |
    <a [routerLink]="['faculties']" routerLinkActive="active">
      <span class="px-7">Faculties</span>
    </a>
    |
    <a [routerLink]="['ola']"routerLinkActive="active">
      <span class="px-7">Generate my OLA</span>
    </a>
  </nav>

  <div class="flex justify-end w-full pr-7">
    <nav class="text-sm">
      <a class="text-purple-100 underline" href="https://www.put.poznan.pl/">
        PUT website
      </a>
    </nav>
  </div>

</mat-toolbar>