<div class="flex flex-col items-center w-full mt-10">
  <div class="flex flex-col w-3/5">
    <div class="grid grid-cols-2 w-full">
      <div class="flex items-start text-xl font-bold">{{course.title}}</div>
      <div class="flex items-end justify-end text-lg">{{course.ECTSpoints}} ECTS points</div>
    </div>

    <div class="text-lg mt-10 text-justify">
      {{course.description}}
    </div>

    <div class="mt-3 content-center">
      <hr class="border-gray-600 border-2 mt-5">
    </div>

    <div class="text-xl mt-8">
      Comments
    </div>
  </div>
</div>
